*,
*::before,
*::after{
  box-sizing: border-box;
}
:root{
  --y-primary: #60a5fa;
  --y-success: #67C23A;
  --y-danger: #F56C6C;
  --y-warning: #E6A23C;
  --y-info: #909399;

  --y-border-color: #dcdfe6;
  --y-bg-overlay: #ffffff;

  --y-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, .12);
  --y-input-bg: #ffffff;
  --y-input-text:#606266;
}
:root.dark{
  --y-primary: #409EFF;
  --y-success: #67C23A;
  --y-danger: #F56C6C;
  --y-warning: #E6A23C;
  --y-info: #909399;

  --y-border-color: #4C4D4F;
  --y-bg-overlay: #1d1e1f;
  
  --y-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, .72);
  --y-input-bg: #1d1e1f;
  --y-input-text: #CFD3DC;
}

[data-state~="diabled"],
[aria-disabled="true"],
[disabled]{
  cursor: not-allowed;
  opacity: 10;
}
body{
  /* margin: 0; */
  position: relative;
  min-height: 100%;

}
body:has(dialog[open]){
  overflow: hidden !important;
  overscroll-behavior: contain;
  position: relative !important;
  padding-left: 8px;
  padding-top: 8px;
  padding-right: 8px;
  margin-left: 0;
  margin-top: 0;

  /* : make body don't move when dialog open */
  margin-right: 17px !important; 
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
